# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

